.main {
  /* display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 2rem; */
  min-height: 100vh;
}
.hero{
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding: .5rem 6rem;
  gap: 5px;
}
.hero_main{
  font-size: 25px;
}
.hero_about{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.hero_about button{
  width: 150px;
  height: 50px;
  background-color: #deacc2;
  border: none;
  border-radius: 50px;
}
.services{
  padding: 0 6rem;
}
.title{
  font-size: 22px;
}
.services_list{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
  padding: 20px 0px;
  flex-wrap: wrap;
}
.services_list_container{
  padding: 30px 40px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-bottom: 1px solid gray;
  /* border-radius: 10px; */
  cursor: pointer;
  transition: .5s;
}
.services_list_container:hover{
  transform: translatey(-20px);
  border: none;
}
.service_title{
  font-size: 22px;
  font-weight: 800;
  gap: 20px;
  display: flex;
  align-items: center;
  color: rgb(52, 52, 52);
}


/* need services  */

.need_service{
  /* width: 100%; */
  /* height: 100px; */
  padding: 2rem 6rem;
  margin: 40px 0px;
  color: white;
  background-color: rgb(233, 91, 91);
  border-radius: 20px;
  /* display: flex; */
}
.btn_call{
  padding: 15px 30px;
  border: 2px solid white;
  background-color: white;
  color: brown;
  cursor: pointer;
  border-radius: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.about_need{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.about_need h1{
  font-size: 25px;
  letter-spacing: 1px;
}

/* footer  */

.footer{
  /* display: flex;
  justify-content: space-between;
  align-items: center; */
  text-align: center;
  padding: 1rem 6rem;
}
.layout_left{
  margin-bottom: 20px;
}
.contact_container{
  display: flex;
  /* justify-content: center; */
  align-items: center;
  gap: 10px;
  cursor: pointer;
  font-size: 15px;
}
.layouts_center{
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* justify-content: flex-start; */
}

/* Image container  */

.image_container{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 80px;
}

.quality_developers{
  text-align: center;
  margin-top: 30px;
  margin-bottom: 80px;
}
.domain_list{
  font-size: 25px;
  display: flex;
  gap: 60px;
  align-items: center;
  justify-content: center;
  padding: 2rem 0;
  margin-top: 30px;
  color: gray;
  
}
.title_quality{
  letter-spacing: 1px;
  font-size: 20px;
}

.left_testimonials{
  display: flex;
  align-items: center;
  gap: 10px;
}
.client_container_first{
  position: relative;
  top: 20px;
}

/* testimonials  */
.testimonials{
  padding: 2rem 6rem;
}
.testimonials_container{
  display: flex;
  justify-content: center;
  gap: 50px;
  align-items: center;
  padding: 2rem 0rem;
}
.testimonials_title{
  font-size: 20px;
  text-align: left;
}
.name_char{
  font-size: 40px;
  color: brown;
}
.holder_name{
  color: brown;
}
.holder_name span{
  letter-spacing: 1px;
}
.feedback{
  font-size: 25px;
  color: rgb(109, 101, 101);
}
.right_testimonials_container{
  padding: 0px 4rem;
}

.social_links{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  font-size: 20px;
  margin-bottom: 20px;
}
.link_container{
  padding: 10px;
  border: 2px solid rgb(233, 91, 91);
  background-color: rgb(233, 91, 91);
  color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: .5s;
}
.link_container:hover{
  background-color: transparent;
  /* border: 2px solid rgb(233, 91, 91); */
  color: rgb(233, 91, 91);
  transform: translateY(-10px);
}
/* media queries  */

@media (max-width : 700px) {
  .hero{
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    align-items: center;
    padding: .5rem 1rem;
    gap: 5px;
    /* background-color: red; */
  }
  .hero_main{
    font-size: 15px;
  }
  .domain_list{
    font-size: 15px;
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 2rem 0;
    margin-top: 30px;
  }
  .services{
    padding: 0 .5rem;
  }
  .title_quality{
    letter-spacing: .5px;
    font-size: 15px;
  }
  .quality_developers{
    text-align: center;
    margin-top: 15px;
    margin-bottom: 35px;
  }

  .services_list{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
    padding: 20px 0px;
    flex-wrap: wrap;
  }
  .services_list_container{
    /* padding: 20px 10px; */
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-bottom: 1px solid gray;
    /* border-radius: 10px; */
    cursor: pointer;
    transition: .5s;
  }
  .about_need{
    display: flex;
    flex-direction: column;
    /* justify-content: flex-start; */
    align-items: flex-start;
  }
  .services_list_container:hover{
    transform: translatey(-20px);
    border: none;
  }
  .service_title{
    font-size: 18px;
    font-weight: 800;
    gap: 20px;
    display: flex;
  }
  .service_description{
    font-size: 14px;
  }
  .title{
    font-size: 15px;
  }

  .need_service{
    /* width: 100%; */
    /* height: 100px; */
    padding: .8rem 2rem;
    margin: 40px 0px;
    border-radius: 20px;
    /* display: flex; */
  }
  .about_need h1{
    font-size: 15px;
  }
  
  .footer{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 1rem .3rem;
  }
  .contact_container{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    /* flex-direction: column; */
    gap: 10px;
    cursor: pointer;
    font-size: 15px;
  }
  .layouts_center{
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    /* align-items: center; */
    /* justify-content: flex-start; */
  }
  .image_list{
    width: 100%;
    height: 200px;
    object-fit: contain;
  }
  .testimonials{
    padding: 2rem 1rem;
  }
  .testimonials_container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    padding: 1.5rem 0rem;
  }
  .testimonials_title{
    font-size: 15px;
    text-align: center;
  }
  .name_char{
    font-size: 40px;
    color: brown;
  }
  .holder_name{
    color: brown;
  }
  .holder_name span{
    letter-spacing: 1px;
  }
  .feedback{
    font-size: 15px;
    color: rgb(109, 101, 101);
  }
  .right_testimonials_container{
    padding: 0px 1rem;
  }
  .image_client{
    width: 150px;
    height: 150px;
  }
  .btn_call{
    padding: 10px 20px;
    border: 2px solid white;
    background-color: white;
    color: brown;
    cursor: pointer;
    border-radius: 40px;
    font-size: 10px;
  }
  
}

@media (min-width : 700px) and (max-width : 1200px)  {
  .testimonials_container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    padding: 1.5rem 0rem;
  }
  .about_need{
    display: flex;
    flex-direction: column;
    /* justify-content: flex-start; */
    align-items: flex-start;
  }
  .footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 50px;
  }
  .contact_container{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    gap: 10px;
    cursor: pointer;
    font-size: 15px;
  }
  .layouts_center{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* justify-content: flex-start; */
  }
}